<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>足迹</title>
    <link rel="stylesheet"  href="../../common/css/style.css">
    <link rel="stylesheet"  href="../../common/css/zj.css">
</head>
<body>
<header>
    <div class="logo-area">
        <span class="pull-left"><img src="../../common/img/logo.png"></span>
        <span class="img-pic02"><img src="../../common/img/pic-02.png"></span>
    </div>
</header>
<nav id="all-nav">
    <ul>
        <li><a data-width="65" data-left="30" href="../../index.html" >首页</a></li>
        <li><a data-width="114" data-left="152" href="../../view/xwzj/xwzj.html">学无止境</a></li>
        <li><a data-width="114" data-left="312" href="../../view/qwzt/qwzt.html">趣味杂谈</a></li>
        <li><a data-width="65" data-left="480" href="../../view/zj/zj.html" style="background: #f26868">足迹</a></li>
        <li><a data-width="65" data-left="606" href="../../view/zp/zp.html">作品</a></li>
        <li><a data-width="114" data-left="725" href="../../view/gywm/gywm.html">关于我们</a></li>
        <li><a data-width="65" data-left="895" href="../../view/ly/ly.html">留言</a></li>
    </ul>
</nav>
<section class="zj-box">
    <div class="zui-box">
        <ul class="zj-year">
            <li class="current">2017</li>
            <li class="zj-year-li">2016</li>
            <li class="zj-year-li">2015</li>
        </ul>
        <ul class="zj-detail">
            <div class="area2017 areaNot2016 areaNot2015">
                <h3>2017</h3>
                <li>
                    <span>2017.04.23</span>
                    <p><span>博客评论逐渐放弃第三方评论插件</span></p>
                </li>
                <li>
                    <span>2017.04.23</span>
                    <p><span>2017,迎接鸡宝宝的到来！</span></p>
                </li>
            </div>
            <div class="area2017 area2016 areaNot2015">
                <h3>2016</h3>
                <li>
                    <span>2017.04.23</span>
                    <p><span>生活是最好的老师，话俗意诚。</span></p>
                </li>
                <li>
                    <span>2017.04.23</span>
                    <p><span>最近由于工作比较忙，顾不上更新文章，还请大家见谅。</span></p>
                </li>
                <li>
                    <span>2017.04.23</span>
                    <p><span>野心消亡之日，正是快乐破茧之时。</span></p>
                </li>
                <li>
                    <span>2017.04.23</span>
                    <p><span>人们最幸福的岁月其实往往是最痛苦的，只不过回忆起来非常美好</span></p>
                </li>
                <li>
                    <span>2017.04.23</span>
                    <p><span>要成为独一无二的自己，不妥协，不随波逐流</span></p>
                </li>
                <li>
                    <span>2017.04.23</span>
                    <p><span>有心为善，虽善不赏；无心为恶，虽恶不罚。</span></p>
                </li>
                <li>
                    <span>2017.04.23</span>
                    <p><span>径路窄处，留一步与人行；滋味浓处，减三分让人尝。</span></p>
                </li>
                <li>
                    <span>2017.04.23</span>
                    <p><span>我愿做一个爱笑的帅逼,不倾城也不倾国。只愿倾其所有过自己想过的生活，便足以。</span></p>
                </li>
            </div>
            <div class="area2017 area2015 areaNot2016">
                <h3>2015</h3>
                <li>
                    <span>2017.04.23</span>
                    <p><span>向往巅峰，向往高度，结果巅峰只是一道刚能立足的狭地。不能横行，不能直走，只享一时俯视之乐，怎可长久驻足安坐?</span></p>
                </li>
                <li>
                    <span>2017.04.23</span>
                    <p><span>汤之，盘铭曰：苟日新，日日新，又日新</span></p>
                </li>
                <li>
                    <span>2017.04.23</span>
                    <p><span>网站已被百度收录了，虽然只收录了三个页面，但是已经很高兴了，接下来就要做优化了。</span></p>
                </li>
                <li>
                    <span>2017.04.23</span>
                    <p><span>不患无位，患所以立，不患莫己知，求为可知也</span></p>
                </li>
                <li>
                    <span>2017.04.23</span>
                    <p><span>文章在陆续更新，敬请关注哦</span></p>
                </li>
                <li>
                    <span>2017.04.23</span>
                    <p><span>经过一个月的准备，网站终于在今天上线了。</span></p>
                </li>
            </div>
        </ul>
    </div>
</section>
<footer>Design By 大叔 </footer>
</body>
<script type='text/javascript' src='../../compents/jquery/jquery-1.12.1.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../../common/js/nav.js' charset='utf-8'></script>
<script type='text/javascript' src='../../common/js/zj.js' charset='utf-8'></script>
</html>
