<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>趣味杂谈</title>
    <link rel="stylesheet"  href="../../common/css/style.css">
    <link rel="stylesheet"  href="../../common/css/xgwz.css">
    <link rel="stylesheet"  href="../../common/css/index.css">

</head>
<body>
<header>
    <div class="logo-area">
        <span class="pull-left"><img src="../../common/img/logo.png"></span>
        <span class="img-pic02"><img src="../../common/img/pic-02.png"></span>
    </div>
</header>
<nav id="all-nav">
    <ul>
        <li><a href="../../index.html">首页</a></li>
        <li><a href="../../view/xwzj/xwzj.html">学无止境</a></li>
        <li><a style="background: #f26868" href="../../view/qwzt/qwzt.html">趣味杂谈</a></li>
        <li><a href="../../view/zj/zj.html">足迹</a></li>
        <li><a href="../../view/zp/zp.html">作品</a></li>
        <li><a href="../../view/gywm/gywm.html">关于我们</a></li>
        <li><a href="../../view/ly/ly.html">留言</a></li>
    </ul>
</nav>
<section class="article-section">
    <div class="article-aer">
        <div class="article-title">
            <img src="../../common/img/jt.png">
            <span>所有文章</span>
        </div>
        <div id="article">
            <div class="art-model">
                <h3><a href="../../view/xwzj/art_details.html" target="_blank">多说评论关闭，个人博客该怎么办</a></h3>
                <p class="author-info">发布时间：2017/04/27 作者：大叔 分类：编程语言</p>
                <dl>
                    <dd>
                        <p> 多说评论要关闭了，个人博客的评论功能应该怎么办，去掉、更换插件还是自己开发一个简单功能。本篇比较推荐自己开发，并且大体介绍如何开发并且兼容之前多说数据。...</p>
                    </dd>
                    <div><a class="lookArticle-a" href="../../view/xwzj/art_details.html">查看全文</a></div>
                </dl>
            </div>
            <div class="art-model">
                <h3><a href="../../view/xwzj/art_details.html" target="_blank">《苏菲的世界》读后感</a></h3>
                <p class="author-info">发布时间：2017/04/27 作者：大叔 分类：编程语言</p>
                <dl>
                    <dd>
                        <p> 上天为我们安排了多种命运。如果我们每天只是仰望天空，期待上天赐予我好的命运，那我们这一生将注定一无所有。哪怕我们稍微做一些努力，那将会是另一种的命运。...</p>
                    </dd>
                    <div><a class="lookArticle-a" href="../../view/xwzj/art_details.html">查看全文</a></div>
                </dl>
            </div>
            <div class="art-model">
                <h3><a href="../../view/xwzj/art_details.html" target="_blank">蟑螂记趣一 小强初现</a></h3>
                <p class="author-info">发布时间：2017/04/27 作者：大叔 分类：编程语言</p>
                <dl>
                    <dd>
                        <p> 秋风萧瑟，刚刚送走夏天的北京没有了似火的骄阳，随之而来的是逐渐变长的黑夜。...</p>
                    </dd>
                    <div><a class="lookArticle-a" href="../../view/xwzj/art_details.html">查看全文</a></div>
                </dl>
            </div>
            <div class="art-model">
                <h3><a href="../../view/xwzj/art_details.html" target="_blank">个人网站如何快速搭建</a></h3>
                <p class="author-info">发布时间：2017/04/27 作者：大叔 分类：编程语言</p>
                <dl>
                    <dd>
                        <p> 现在个人网站经营越来越困难，但是仍旧有很多人希望建设自己的网站，这里我就个人网站建设流程——域名，服务器、程序和备案——做一个简单介绍...</p>
                    </dd>
                    <div><a class="lookArticle-a" href="../../view/xwzj/art_details.html">查看全文</a></div>
                </dl>
            </div>
            <div class="art-model">
                <h3><a href="../../view/xwzj/art_details.html" target="_blank">Gulp学习之委以重任task函数做了什么事情</a></h3>
                <p class="author-info">gulp.task函数用来定义一个gulp要执行的任务，该函数有三个参数name、deps和fn。其具体的使用方式和注意事项使我们本章的重点内容。</p>
                <dl>
                    <dd>
                        <p>1</p>
                    </dd>
                    <div><a class="lookArticle-a" href="../../view/xwzj/art_details.html">查看全文</a></div>
                </dl>
            </div>
            <div class="art-model">
                <h3><a href="../../view/xwzj/art_details.html" target="_blank">gulp学习之你来我往 src和dest函数</a></h3>
                <p class="author-info">发布时间：2017/04/27 作者：大叔 分类：编程语言</p>
                <dl>
                    <dd>
                        <!--<img src="common/img/1494227563.png">-->
                        <span>gulp无疑是我接触过的最简单易用的。其配置参数简单，并且学习起来也很容易。本章介绍其两个函数src和dest。</span>
                    </dd>
                    <div><a class="lookArticle-a" href="../../view/xwzj/art_details.html">查看全文</a></div>
                </dl>
            </div>
            <div class="art-model">
                <h3><a href="../../view/xwzj/art_details.html" target="_blank">多说评论关闭，个人博客该怎么办</a></h3>
                <p class="author-info">发布时间：2017/04/27 作者：大叔 分类：编程语言</p>
                <dl>
                    <dd>
                        <p>多说评论要关闭了，个人博客的评论功能应该怎么办，去掉、更换插件还是自己开发一个简单功能。本篇比较推荐自己开发，并且大体介绍如何开发并且兼容之前多说数据。</p>
                    </dd>
                    <div><a class="lookArticle-a" href="../../view/xwzj/art_details.html">查看全文</a></div>
                </dl>
            </div>
            <div class="art-model">
                <h3><a href="../../view/xwzj/art_details.html" target="_blank">gulp学习之察言观色watch函数</a></h3>
                <p class="author-info">发布时间：2017/04/27 作者：大叔 分类：编程语言</p>
                <dl>
                    <dd>
                        <p>gulp.watch函数是用来监听文件的变化，当文件发生变化以后，可以通过回调函数或者指定的任务执行相应的内容。</p>
                    </dd>
                    <div><a class="lookArticle-a" href="../../view/xwzj/art_details.html">查看全文</a></div>
                </dl>
            </div>
            <div class="art-model">
                <h3><a href="../../view/xwzj/art_details.html" target="_blank">Gulp学习之委以重任task函数做了什么事情</a></h3>
                <p class="author-info">gulp.task函数用来定义一个gulp要执行的任务，该函数有三个参数name、deps和fn。其具体的使用方式和注意事项使我们本章的重点内容。</p>
                <dl>
                    <dd>
                        <p>1</p>
                    </dd>
                    <div><a class="lookArticle-a" href="../../view/xwzj/art_details.html">查看全文</a></div>
                </dl>
            </div>
        </div>
        <ul class="pages">
            <li><a>首页</a></li>
            <li><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
            <li><a>5</a></li>
            <li><a>6</a></li>
            <li><a>7</a></li>
            <li><a>8</a></li>
            <li><a>上一页</a></li>
            <li><a>末页</a></li>
        </ul>
    </div>
    <div class="fl">
        <div class="search">
            <input type="text" placeholder="请输入搜索内容" class="search-input"><input type="button" class="search-btn" value="搜索">
        </div>
        <div class="nav-xwzj">
            <div class="nav-title">
                <img class="pull-left" src="../../common/img/lm.png">
                <span>栏目导航</span>
            </div>
            <ul>
                <li><a>读书</a></li>
                <li><a>观点与感想</a></li>
            </ul>
        </div>
        <div class="hot-art" style="float: none;margin-top: 46px;">
            <h2 class="fonth2">
                <img class="zanIcon" src="../../common/img/new.png">
                <span>最新文章</span>
            </h2>
            <ul class="art-ul">
                <li><a href="../../view/xwzj/art_details.html">我对Paxos算法的理解</a></li>
                <li><a href="../../view/xwzj/art_details.html">Memcached中的分布式思想</a></li>
                <li><a href="../../view/xwzj/art_details.html">Consistent Hashing算法入门及PHP代码实现</a></li>
                <li><a href="../../view/xwzj/art_details.html">php zookeeper你需要知道的细节</a></li>
                <li><a href="../../view/xwzj/art_details.html">Node Stream 流（二）流的四种基本类型</a></li>
                <li><a href="../../view/xwzj/art_details.html">Node Stream 流（一）流的基本介绍及流下载文件</a></li>
                <li><a href="../../view/xwzj/art_details.html">Sweetalert详细介绍</a></li>
                <li><a href="../../view/xwzj/art_details.html">《苏菲的世界》读后感</a></li>
            </ul>
        </div>
        <div class="suggest-art" style="margin-top: 26px;">
            <h2 class="fonth2">
                <img class="zanIcon" src="../../common/img/hot.png">
                <span>热门文章</span>
            </h2>
            <ul class="art-ul">
                <li><a href="../../view/xwzj/art_details.html">React.createElement方法使用详解</a></li>
                <li><a href="../../view/xwzj/art_details.html">SSO单点登录三种情况的实现方式详解</a></li>
                <li><a href="../../view/xwzj/art_details.html">四大非关系型数据库类型，你知道多少</a></li>
                <li><a href="../../view/xwzj/art_details.html">React之ref回调函数实现的两种方式</a></li>
                <li><a href="../../view/xwzj/art_details.html">我理解的webservice是这样的</a></li>
                <li><a href="../../view/xwzj/art_details.html">post Upload上传文件中multipart/form-data 做的那些事</a></li>
                <li><a href="../../view/xwzj/art_details.html">webpack编译react需要注意的细节</a></li>
                <li><a href="../../view/xwzj/art_details.html">React组件refs详解</a></li>
            </ul>
            <h2 class="fonth2" style="margin-top: 20px">
                <img class="zanIcon" src="../../common/img/bq.png">
                <span>热门标签</span>
            </h2>
            <div class="tag">
                <a href="../../view/xwzj/art_details.html">Javascript</a>
                <a href="../../view/xwzj/art_details.html">数组</a>
                <a href="../../view/xwzj/art_details.html">个人博客</a>
                <a href="../../view/xwzj/art_details.html">WEB</a>
                <a href="../../view/xwzj/art_details.html">Gulp</a>
                <a href="../../view/xwzj/art_details.html">算法</a>
                <a href="../../view/xwzj/art_details.html">Paxos</a>
                <a href="../../view/xwzj/art_details.html">分布式</a>
                <a href="../../view/xwzj/art_details.html">跨域</a>
                <a href="../../view/xwzj/art_details.html">php</a>
                <a href="../../view/xwzj/art_details.html">单点登录</a>
                <a href="../../view/xwzj/art_details.html">网络</a>
                <a href="../../view/xwzj/art_details.html">socket</a>
                <a href="../../view/xwzj/art_details.html">protocol</a>
                <a href="../../view/xwzj/art_details.html">AUTH</a>
                <a href="../../view/xwzj/art_details.html">redis</a>
                <a href="../../view/xwzj/art_details.html">svn</a>
                <a href="../../view/xwzj/art_details.html">cluster</a>
                <a href="../../view/xwzj/art_details.html">SSO</a>
                <a href="../../view/xwzj/art_details.html">curl</a>
                <a href="../../view/xwzj/art_details.html">Cookie</a>
                <a href="../../view/xwzj/art_details.html">抽象类</a>
                <a href="../../view/xwzj/art_details.html">接口</a>
                <a href="../../view/xwzj/art_details.html">编程</a>
                <a href="../../view/xwzj/art_details.html">Mongodb</a>
                <a href="../../view/xwzj/art_details.html">ref</a>
                <a href="../../view/xwzj/art_details.html">个人网站</a>
                <a href="../../view/xwzj/art_details.html">webpack</a>
                <a href="../../view/xwzj/art_details.html">网站提速</a>
                <a href="../../view/xwzj/art_details.html">React</a>
                <a href="../../view/xwzj/art_details.html">响应式</a>
                <a href="../../view/xwzj/art_details.html">nodejs</a>
                <a href="../../view/xwzj/art_details.html">forever</a>
                <a href="../../view/xwzj/art_details.html">pm2</a>
                <a href="../../view/xwzj/art_details.html">扩展</a>
                <a href="../../view/xwzj/art_details.html">Jquery</a>
                <a href="../../view/xwzj/art_details.html">Xdebug</a>
                <a href="../../view/xwzj/art_details.html">css</a>
                <a href="../../view/xwzj/art_details.html">垂直居中</a>
                <a href="../../view/xwzj/art_details.html">前端</a>
                <a href="../../view/xwzj/art_details.html">git</a>
                <a href="../../view/xwzj/art_details.html">仓库</a>
            </div>

            <h2 class="fonth2" style="margin-top: 20px">
                <img class="zanIcon" src="../../common/img/start.png">
                <span>关注我们</span>
            </h2>
            <div class="erweima">
                <img src="../../common/img/1494227563.png">
                <p>扫一扫关注我们哦</p>
            </div>
        </div>
    </div>
</section>
<footer>Design By 大叔 </footer>
</body>
<script type='text/javascript' src='../../compents/jquery/jquery-1.12.1.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../../common/js/nav.js' charset='utf-8'></script>
<script type='text/javascript' src='../../common/js/xwzj.js' charset='utf-8'></script>
</html>
