<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>留言</title>
    <link rel="stylesheet"  href="../../common/css/style.css">
    <link rel="stylesheet"  href="../../common/css/xgwz.css">
    <link rel="stylesheet"  href="../../common/css/index.css">
    <link rel="stylesheet"  href="../../common/css/gywm.css">
</head>
<body>
<header>
    <div class="logo-area">
        <span class="pull-left"><img src="../../common/img/logo.png"></span>
        <span class="img-pic02"><img src="../../common/img/pic-02.png"></span>
    </div>
</header>
<nav id="all-nav">
    <ul>
        <li><a href="../../index.html">首页</a></li>
        <li><a href="../../view/xwzj/xwzj.html">学无止境</a></li>
        <li><a href="../../view/qwzt/qwzt.html">趣味杂谈</a></li>
        <li><a href="../../view/zj/zj.html">足迹</a></li>
        <li><a href="../../view/zp/zp.html">作品</a></li>
        <li><a href="../../view/gywm/gywm.html">关于我们</a></li>
        <li><a style="background: #f26868"  href="../../view/ly/ly.html">留言</a></li>
    </ul>
</nav>
<section class="article-section">
    <div class="article-aer about-me">
        <div class="article-title">
            <span>当前位置:</span>&nbsp;&nbsp;<span>主页&nbsp;>&nbsp;留言</span>
        </div>
        <div class="pllist">
            <h4>评论列表</h4>
            <div class="pl-details">
                <div class="pl-tx">
                    <img src="../../common/img/50.jpg">
                </div>
                <div class="pl-content">
                    <p class="pl-name">微笑着说你不懂</p>
                    <p class="pl-det">很喜欢这个名字，说说实话，你写的东西真正很赞，希望以后还能继续看到你们的文章，加油 </p>
                    <div class="pl-date">
                        <span>2016年4月15日</span>
                        <span class="hf"><img src="../../common/img/fx.png">回复</span>
                        <span class="d"><img src="../../common/img/xin.png">顶</span>
                        <span class="zf"><img src="../../common/img/zf.png">转发</span>
                    </div>
                </div>
            </div>
            <div class="pl-details">
                <div class="pl-tx">
                    <img src="../../common/img/50.jpg">
                </div>
                <div class="pl-content">
                    <p class="pl-name">微笑着说你不懂</p>
                    <p class="pl-det">很喜欢这个名字，说说实话，你写的东西真正很赞，希望以后还能继续看到你们的文章，加油 </p>
                    <div class="pl-date">
                        <span>2016年4月15日</span>
                        <span class="hf"><img src="../../common/img/fx.png">回复</span>
                        <span class="d"><img src="../../common/img/xin.png">顶</span>
                        <span class="zf"><img src="../../common/img/zf.png">转发</span>
                    </div>
                </div>
            </div>
            <div class="pl-details">
                <div class="pl-tx">
                    <img src="../../common/img/50.jpg">
                </div>
                <div class="pl-content">
                    <p class="pl-name">微笑着说你不懂</p>
                    <p class="pl-det">很喜欢这个名字，说说实话，你写的东西真正很赞，希望以后还能继续看到你们的文章，加油 </p>
                    <div class="pl-date">
                        <span>2016年4月15日</span>
                        <span class="hf"><img src="../../common/img/fx.png">回复</span>
                        <span class="d"><img src="../../common/img/xin.png">顶</span>
                        <span class="zf"><img src="../../common/img/zf.png">转发</span>
                    </div>
                </div>
            </div>
            <div class="pl-details">
                <div class="pl-tx">
                    <img src="../../common/img/50.jpg">
                </div>
                <div class="pl-content">
                    <p class="pl-name">微笑着说你不懂</p>
                    <p class="pl-det">很喜欢这个名字，说说实话，你写的东西真正很赞，希望以后还能继续看到你们的文章，加油 </p>
                    <div class="pl-date">
                        <span>2016年4月15日</span>
                        <span class="hf"><img src="../../common/img/fx.png">回复</span>
                        <span class="d"><img src="../../common/img/xin.png">顶</span>
                        <span class="zf"><img src="../../common/img/zf.png">转发</span>
                    </div>
                </div>
            </div>
            <div class="pl-details">
                <div class="pl-tx">
                    <img src="../../common/img/50.jpg">
                </div>
                <div class="pl-content">
                    <p class="pl-name">微笑着说你不懂</p>
                    <p class="pl-det">很喜欢这个名字，说说实话，你写的东西真正很赞，希望以后还能继续看到你们的文章，加油 </p>
                    <div class="pl-date">
                        <span>2016年4月15日</span>
                        <span class="hf"><img src="../../common/img/fx.png">回复</span>
                        <span class="d"><img src="../../common/img/xin.png">顶</span>
                        <span class="zf"><img src="../../common/img/zf.png">转发</span>
                    </div>
                </div>
            </div>
            <div class="pl-details">
                <div class="pl-tx">
                    <img src="../../common/img/50.jpg">
                </div>
                <div class="pl-content">
                    <p class="pl-name">微笑着说你不懂</p>
                    <p class="pl-det">很喜欢这个名字，说说实话，你写的东西真正很赞，希望以后还能继续看到你们的文章，加油 </p>
                    <div class="pl-date">
                        <span>2016年4月15日</span>
                        <span class="hf"><img src="../../common/img/fx.png">回复</span>
                        <span class="d"><img src="../../common/img/xin.png">顶</span>
                        <span class="zf"><img src="../../common/img/zf.png">转发</span>
                    </div>
                </div>
            </div>
            <div class="pl-details">
                <div class="pl-tx">
                    <img src="../../common/img/50.jpg">
                </div>
                <div class="pl-content">
                    <p class="pl-name">微笑着说你不懂</p>
                    <p class="pl-det">很喜欢这个名字，说说实话，你写的东西真正很赞，希望以后还能继续看到你们的文章，加油 </p>
                    <div class="pl-date">
                        <span>2016年4月15日</span>
                        <span class="hf"><img src="../../common/img/fx.png">回复</span>
                        <span class="d"><img src="../../common/img/xin.png">顶</span>
                        <span class="zf"><img src="../../common/img/zf.png">转发</span>
                    </div>
                </div>
            </div>
            <div class="pl-details">
                <div class="pl-tx">
                    <img src="../../common/img/50.jpg">
                </div>
                <div class="pl-content">
                    <p class="pl-name">微笑着说你不懂</p>
                    <p class="pl-det">很喜欢这个名字，说说实话，你写的东西真正很赞，希望以后还能继续看到你们的文章，加油 </p>
                    <div class="pl-date">
                        <span>2016年4月15日</span>
                        <span class="hf"><img src="../../common/img/fx.png">回复</span>
                        <span class="d"><img src="../../common/img/xin.png">顶</span>
                        <span class="zf"><img src="../../common/img/zf.png">转发</span>
                    </div>
                </div>
            </div>
            <div class="pl-details">
                <div class="pl-tx">
                    <img src="../../common/img/50.jpg">
                </div>
                <div class="pl-content">
                    <p class="pl-name">微笑着说你不懂</p>
                    <p class="pl-det">很喜欢这个名字，说说实话，你写的东西真正很赞，希望以后还能继续看到你们的文章，加油 </p>
                    <div class="pl-date">
                        <span>2016年4月15日</span>
                        <span class="hf"><img src="../../common/img/fx.png">回复</span>
                        <span class="d"><img src="../../common/img/xin.png">顶</span>
                        <span class="zf"><img src="../../common/img/zf.png">转发</span>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pages">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>...</li>
            <li>20</li>
        </ul>
    </div>
    <div class="fl">
        <div class="search">
            <input type="text" placeholder="请输入搜索内容" class="search-input"><input type="button" class="search-btn" value="搜索">
        </div>
        <h2 class="fonth2" style="margin-top: 20px">
            <img class="zanIcon" src="../../common/img/start.png">
            <span>关注我们</span>
        </h2>
        <div class="erweima">
            <img src="../../common/img/1494227563.png">
            <p>扫一扫关注我们哦</p>
        </div>
    </div>
</section>
<footer>Design By 大叔 </footer>
</body>
<script type='text/javascript' src='../../compents/jquery/jquery-1.12.1.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../../common/js/nav.js' charset='utf-8'></script>
<script type='text/javascript' src='../../common/js/xwzj.js' charset='utf-8'></script>
</html>
