<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>作品</title>
    <link rel="stylesheet"  href="../../common/css/style.css">
    <link rel="stylesheet"  href="../../common/css/xgwz.css">
    <link rel="stylesheet"  href="../../common/css/index.css">
</head>
<body>
<header>
    <div class="logo-area">
        <span class="pull-left"><img src="../../common/img/logo.png"></span>
        <span class="img-pic02"><img src="../../common/img/pic-02.png"></span>
    </div>
</header>
<nav id="all-nav">
    <ul>
        <li><a href="../../index.html">首页</a></li>
        <li><a href="../../view/xwzj/xwzj.html">学无止境</a></li>
        <li><a href="../../view/qwzt/qwzt.html">趣味杂谈</a></li>
        <li><a href="../../view/zj/zj.html">足迹</a></li>
        <li><a style="background: #f26868"  href="../../view/zp/zp.html">作品</a></li>
        <li><a href="../../view/gywm/gywm.html">关于我们</a></li>
        <li><a href="../../view/ly/ly.html">留言</a></li>
    </ul>
</nav>
<section class="article-section">
    <div class="article-aer">
        <div class="article-title">
            <img src="../../common/img/jt.png">
            <span>作品</span>
        </div>
        <div class="works">
            <img src="../../common/img/1-161020145KU55.jpg">
            <h4>私活-中华广告网首页</h4>
            <p>简介：工作之余，同学介绍了一个小私活，刚好自己周日没事情做，就接下来了，客户要的比较急，做了两天。</p>
            <span>2016-12-13</span>
        </div>
        <div class="works">
            <img src="../../common/img/1-161020145KU55.jpg">
            <h4>私活-中华广告网首页</h4>
            <p>简介：工作之余，同学介绍了一个小私活，刚好自己周日没事情做，就接下来了，客户要的比较急，做了两天。</p>
            <span>2016-12-13</span>
        </div>
        <div class="works">
            <img src="../../common/img/1-161020145KU55.jpg">
            <h4>私活-中华广告网首页</h4>
            <p>简介：工作之余，同学介绍了一个小私活，刚好自己周日没事情做，就接下来了，客户要的比较急，做了两天。</p>
            <span>2016-12-13</span>
        </div>
        <div class="works">
            <img src="../../common/img/1-161020145KU55.jpg">
            <h4>私活-中华广告网首页</h4>
            <p>简介：工作之余，同学介绍了一个小私活，刚好自己周日没事情做，就接下来了，客户要的比较急，做了两天。</p>
            <span>2016-12-13</span>
        </div>
        <div class="works">
            <img src="../../common/img/1-161020145KU55.jpg">
            <h4>私活-中华广告网首页</h4>
            <p>简介：工作之余，同学介绍了一个小私活，刚好自己周日没事情做，就接下来了，客户要的比较急，做了两天。</p>
            <span>2016-12-13</span>
        </div>
        <div class="works">
            <img src="../../common/img/1-161020145KU55.jpg">
            <h4>私活-中华广告网首页</h4>
            <p>简介：工作之余，同学介绍了一个小私活，刚好自己周日没事情做，就接下来了，客户要的比较急，做了两天。</p>
            <span>2016-12-13</span>
        </div>
        <div class="works">
            <img src="../../common/img/1-161020145KU55.jpg">
            <h4>私活-中华广告网首页</h4>
            <p>简介：工作之余，同学介绍了一个小私活，刚好自己周日没事情做，就接下来了，客户要的比较急，做了两天。</p>
            <span>2016-12-13</span>
        </div>
        <div class="works">
            <img src="../../common/img/1-161020145KU55.jpg">
            <h4>私活-中华广告网首页</h4>
            <p>简介：工作之余，同学介绍了一个小私活，刚好自己周日没事情做，就接下来了，客户要的比较急，做了两天。</p>
            <span>2016-12-13</span>
        </div>
        <div class="works">
            <img src="../../common/img/1-161020145KU55.jpg">
            <h4>私活-中华广告网首页</h4>
            <p>简介：工作之余，同学介绍了一个小私活，刚好自己周日没事情做，就接下来了，客户要的比较急，做了两天。</p>
            <span>2016-12-13</span>
        </div>
        <div class="works">
            <img src="../../common/img/1-161020145KU55.jpg">
            <h4>私活-中华广告网首页</h4>
            <p>简介：工作之余，同学介绍了一个小私活，刚好自己周日没事情做，就接下来了，客户要的比较急，做了两天。</p>
            <span>2016-12-13</span>
        </div>
    </div>
    <div class="fl">
        <div class="search">
            <input type="text" placeholder="请输入搜索内容" class="search-input"><input type="button" class="search-btn" value="搜索">
        </div>
        <div class="nav-xwzj">
            <div class="nav-title">
                <img class="pull-left" src="../../common/img/lm.png">
                <span>栏目导航</span>
            </div>
            <ul>
                <li><a>WEB前端</a></li>
                <li><a>编程语言</a></li>
                <li><a>网络</a></li>
                <li><a>算法</a></li>
                <li><a>数据库</a></li>
                <li><a>操作系统</a></li>
            </ul>
        </div>
        <div class="hot-art" style="float: none;margin-top: 46px;">
            <h2 class="fonth2">
                <img class="zanIcon" src="../../common/img/new.png">
                <span>最新文章</span>
            </h2>
            <ul class="art-ul">
                <li><a href="../../view/xwzj/art_details.html">我对Paxos算法的理解</a></li>
                <li><a href="../../view/xwzj/art_details.html">Memcached中的分布式思想</a></li>
                <li><a href="../../view/xwzj/art_details.html">Consistent Hashing算法入门及PHP代码实现</a></li>
                <li><a href="../../view/xwzj/art_details.html">php zookeeper你需要知道的细节</a></li>
                <li><a href="../../view/xwzj/art_details.html">Node Stream 流（二）流的四种基本类型</a></li>
                <li><a href="../../view/xwzj/art_details.html">Node Stream 流（一）流的基本介绍及流下载文件</a></li>
                <li><a href="../../view/xwzj/art_details.html">Sweetalert详细介绍</a></li>
                <li><a href="../../view/xwzj/art_details.html">《苏菲的世界》读后感</a></li>
            </ul>
        </div>
        <div class="suggest-art" style="margin-top: 26px;">
            <h2 class="fonth2">
                <img class="zanIcon" src="../../common/img/hot.png">
                <span>热门文章</span>
            </h2>
            <ul class="art-ul">
                <li><a href="../../view/xwzj/art_details.html">React.createElement方法使用详解</a></li>
                <li><a href="../../view/xwzj/art_details.html">SSO单点登录三种情况的实现方式详解</a></li>
                <li><a href="../../view/xwzj/art_details.html">四大非关系型数据库类型，你知道多少</a></li>
                <li><a href="../../view/xwzj/art_details.html">React之ref回调函数实现的两种方式</a></li>
                <li><a href="../../view/xwzj/art_details.html">我理解的webservice是这样的</a></li>
                <li><a href="../../view/xwzj/art_details.html">post Upload上传文件中multipart/form-data 做的那些事</a></li>
                <li><a href="../../view/xwzj/art_details.html">webpack编译react需要注意的细节</a></li>
                <li><a href="../../view/xwzj/art_details.html">React组件refs详解</a></li>
            </ul>
            <h2 class="fonth2" style="margin-top: 20px">
                <img class="zanIcon" src="../../common/img/bq.png">
                <span>热门标签</span>
            </h2>
            <div class="tag">
                <a href="../../view/xwzj/art_details.html">Javascript</a>
                <a href="../../view/xwzj/art_details.html">数组</a>
                <a href="../../view/xwzj/art_details.html">个人博客</a>
                <a href="../../view/xwzj/art_details.html">WEB</a>
                <a href="../../view/xwzj/art_details.html">Gulp</a>
                <a href="../../view/xwzj/art_details.html">算法</a>
                <a href="../../view/xwzj/art_details.html">Paxos</a>
                <a href="../../view/xwzj/art_details.html">分布式</a>
                <a href="../../view/xwzj/art_details.html">跨域</a>
                <a href="../../view/xwzj/art_details.html">php</a>
                <a href="../../view/xwzj/art_details.html">单点登录</a>
                <a href="../../view/xwzj/art_details.html">网络</a>
                <a href="../../view/xwzj/art_details.html">socket</a>
                <a href="../../view/xwzj/art_details.html">protocol</a>
                <a href="../../view/xwzj/art_details.html">AUTH</a>
                <a href="../../view/xwzj/art_details.html">redis</a>
                <a href="../../view/xwzj/art_details.html">svn</a>
                <a href="../../view/xwzj/art_details.html">cluster</a>
                <a href="../../view/xwzj/art_details.html">SSO</a>
                <a href="../../view/xwzj/art_details.html">curl</a>
                <a href="../../view/xwzj/art_details.html">Cookie</a>
                <a href="../../view/xwzj/art_details.html">抽象类</a>
                <a href="../../view/xwzj/art_details.html">接口</a>
                <a href="../../view/xwzj/art_details.html">编程</a>
                <a href="../../view/xwzj/art_details.html">Mongodb</a>
                <a href="../../view/xwzj/art_details.html">ref</a>
                <a href="../../view/xwzj/art_details.html">个人网站</a>
                <a href="../../view/xwzj/art_details.html">webpack</a>
                <a href="../../view/xwzj/art_details.html">网站提速</a>
                <a href="../../view/xwzj/art_details.html">React</a>
                <a href="../../view/xwzj/art_details.html">响应式</a>
                <a href="../../view/xwzj/art_details.html">nodejs</a>
                <a href="../../view/xwzj/art_details.html">forever</a>
                <a href="../../view/xwzj/art_details.html">pm2</a>
                <a href="../../view/xwzj/art_details.html">扩展</a>
                <a href="../../view/xwzj/art_details.html">Jquery</a>
                <a href="../../view/xwzj/art_details.html">Xdebug</a>
                <a href="../../view/xwzj/art_details.html">css</a>
                <a href="../../view/xwzj/art_details.html">垂直居中</a>
                <a href="../../view/xwzj/art_details.html">前端</a>
                <a href="../../view/xwzj/art_details.html">git</a>
                <a href="../../view/xwzj/art_details.html">仓库</a>
            </div>

            <h2 class="fonth2" style="margin-top: 20px">
                <img class="zanIcon" src="../../common/img/start.png">
                <span>关注我们</span>
            </h2>
            <div class="erweima">
                <img src="../../common/img/1494227563.png">
                <p>扫一扫关注我们哦</p>
            </div>
        </div>
    </div>
</section>
<footer>Design By 大叔 </footer>
</body>
<script type='text/javascript' src='../../compents/jquery/jquery-1.12.1.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../../common/js/nav.js' charset='utf-8'></script>
<script type='text/javascript' src='../../common/js/xwzj.js' charset='utf-8'></script>
</html>
